// =============================================================================
// =SHIFT - CONTEXT GET
// =============================================================================

@import "aleksi/general/default-to";
@import "aleksi/maps/map-set";

$__shift__: () !default;

// =Functions
// =============================================================================

// =shift-context-get([ $prop ])
// -----------------------------------------------------------------------------
/// Fetch value currently stored for given context property. If a list is given,
/// a map will be returned with values for each property in the list. If no
/// argument is given, a map of all properties set in current context will be
/// returned.
///
/// @param {string|list} $prop [null] - property name(s) for which to retreive current values
//// @return {map|any} - the value(s) currently stored for given $prop
///
/// @api public
/// @since 0.1.0

@function shift-context-get( $prop: null )
{
  // get shift's current context
  $context: default-to(map-get($__shift__, 'context'), ());

  // if list of properties was given
  @if type-of($prop) == 'list'
  {
    // return a property -> value map
    $res: ();
    @each $name in $prop {
      $res: map-set($res, $name, shift-context-get($name));
    }
    @return $res;
  }

  // optionally return given property
  @if type-of($prop) == 'string' {
    @return map-get($context, $prop);
  }

  @return $context;
}

// =Mixins
// =============================================================================

// =shift-context-get( $prop )
// -----------------------------------------------------------------------------
/// Fetch value currently stored for given context property. If a list is given,
/// a map will be returned with values for each property in the list. If no
/// argument is given, a map of all properties set in current context will be
/// returned.
///
/// @param {string|list} $prop [null] - property name(s) for which to retreive current values
//// @return {map|any} - the value(s) currently stored for given $prop
///
/// @api public
/// @since 0.1.0

@mixin shift-context-get($prop: null)
{
  $context: shift-context-get($prop);
}
