// =============================================================================
// =SHIFT - CONTEXT GET
// =============================================================================

@import "aleksi/general/default-to";

$__shift__: () !default;

// =Functions
// =============================================================================

// =shift-context-restore()
// -----------------------------------------------------------------------------
/// Restores context values saved previously with 'shift-context-save'.
///
/// @api public
/// @since 0.1.0

@function shift-context-restore()
{
  $context: default-to(map-get($__shift__, 'saved-context'), ());
  $__shift__: map-set($__shift__, 'context', $context) !global;

  // return context, as restored
  @return $context;
}

// =Mixins
// =============================================================================

// =shift-context-restore()
// -----------------------------------------------------------------------------
/// Restores context values saved previously with 'shift-context-save'.
///
/// @api public
/// @since 0.1.0

@mixin shift-context-restore()
{
  $context: shift-context-restore();
}