// =============================================================================
// =SHIFT - CONTEXT GET
// =============================================================================

@import "aleksi/maps/map-set-deep";

$__shift__: () !default;

// =Functions
// =============================================================================

// =shift-context-set( $prop[, $val ])
// -----------------------------------------------------------------------------
/// Stores given property in current context. If a map is given, each key
/// will be used as property name, and given the corresponding value.
///
/// @param {string|map} $prop - the name of the context property to store
/// @param {any} $val - the value to store for the context property
///
/// @return {any} - $val
///
/// @api public
/// @since 0.1.0

@function shift-context-set( $prop, $val: null )
{
  // accept a map of 'name' => 'value' to set as context
  @if type-of($prop) == 'map'
  {
    @each $name, $val in $prop {
      $res: shift-context-set($name, $val);
    }

    @return $prop;
  }

  // store given property value in current context
  $__shift__: map-set-deep($__shift__, 'context' $prop, $val) !global;

  // return value, now stored in context
  @return $val;
}

// =Mixins
// =============================================================================

// =shift-context-set( $prop[, $val ])
// -----------------------------------------------------------------------------
/// Stores given property in current context. If a map is given, each key
/// will be used as property name, and given the corresponding value.
///
/// @param {string|map} $prop - the name of the context property to store
/// @param {any} $val - the value to store for the context property
///
/// @return {any} - $val
///
/// @api public
/// @since 0.1.0

@mixin shift-context-set($prop, $val: null)
{
  $context: shift-context-set($prop, $val);
}