# MAC OSX
# -------
.DS_Store

# TEMPORARY FILES
# ---------------
tmp

# SASS/COMPASS
# ------------
.sass-cache
*.sassc
*.scssc

# RUBY GEMS
# ---------
*.gem

# NODE + BOWER
# ------------
node_modules
bower_components
npm-debug

# SASSDOC
# -------
sassdoc