// =============================================================================
// =SHIFT - VARIABLE KEY LENGTHS
// =============================================================================
///
//// @group shift-variable
//// @author [Yoannis Jamar](http://yoannis.com)

@import "aleksi/general/memo";
@import "aleksi/general/throw";
@import "aleksi/lists/sort";

@import "shift/variable/parse-keys";
@import "shift/variable/validate";

// =shift-key-lengths( $vars... )
// -----------------------------------------------------------------------------
/// Collects all media widths/heights found in given shift variable(s)' keys and
/// sorts them in ascending order. Regular variables use no media widths/heights
/// are therefor ignored.
///
/// @param {arglist} $vars.. - shift variable(s) to inspect
///
/// @return {map} map listing the 'width' and 'height' lengths
///
/// @api public
/// @since 0.3.0
///
/// @todo: return widths/heights per media

@function shift-key-lengths( $vars... )
{
  // memoization
  $_memo_: '_shift-key-lengths-#{$vars}';
  @if memo-has('shift', $_memo_) {
    @return memo-get('shift', $_memo_);
  }

  $widths: ();
  $heights: ();

  @each $var in $vars
  {
    @if shift-validate-variable($var)
    {
      $params: shift-parse-keys($var);

      @each $key, $val in $var
      {
        $prm: map-get($params, $key);
        $min-w: map-get($prm, 'min-width');
        $max-w: map-get($prm, 'max-width');
        $min-h: map-get($prm, 'min-height');
        $max-h: map-get($prm, 'max-height');

        @if $min-w != null and not index($widths, $min-w) { $widths: append($widths, $min-w); }
        @if $max-w != null and not index($widths, $max-w) { $widths: append($widths, $max-w); }
        @if $min-h != null and not index($heights, $min-h) { $heights: append($heights, $min-h); }
        @if $max-h != null and not index($heights, $max-h) { $heights: append($heights, $max-h); }
      }
    }
  }

  $res: (
    'widths': sort($widths),
    'heights': sort($heights)
  );

  @return memo-set('shift', $_memo_, $res);
}