// =============================================================================
// =SHIFT TESTS - VARIABLES
// =============================================================================


$default-params: (
  'strict-query': false,
  'media-type': 'screen'
);

$custom-units: (
  'width': 'px',
  'height': 'em'
);

$from-s-expr: '>s';
$from-s-query: 'screen and (min-width: 26.25em)';
$from-s-params: (
  'strict-query': $shift-strict-queries,
  'media-type': $shift-media-type,
  'min-width': 420px,
  'min-width-label': 's'
);

$from-l-expr: '>l';
$from-l-query: 'screen and (min-width: 68.75em)';
$from-l-params: (
  'strict-query': $shift-strict-queries,
  'media-type': $shift-media-type,
  'min-width': 1100px,
  'min-width-label': 'l'
);

$to-m-expr: '<m';
$to-m-query: 'screen and (max-width: 46.875em)';
$to-m-params: (
  'strict-query': $shift-strict-queries,
  'media-type': $shift-media-type,
  'max-width': 750px,
  'max-width-label': 'm'
);

$from-s-to-l-expr: '>s <l';
$from-s-to-l-expr-and: '>s and <l';
$from-s-to-l-query: 'screen and (min-width: 26.15em) and (max-width: 68.75em)';
$from-s-to-l-params: (
  'strict-query': $shift-strict-queries,
  'media-type': $shift-media-type,
  'min-width': 420px,
  'max-width': 1100px,
  'min-width-label': 's',
  'max-width-label': 'l'
);

$w-from-s-expr: 'w>s';
$width-from-s-expr: 'width>s';
$width-from-s-query: 'screen and (min-width: 26.25em)';

$width-from-s-params: (
  'strict-query': $shift-strict-queries,
  'media-type': $shift-media-type,
  'min-width': 420px,
  'min-width-label': 's'
);

$w-to-l-expr: 'w<l';
$width-to-l-expr: 'width<l';
$width-to-l-query: 'screen and (max-width: 68.75em)';
$width-to-l-params: (
  'strict-query': $shift-strict-queries,
  'media-type': $shift-media-type,
  'max-width': 1100px,
  'max-width-label': 'l'
);

$h-from-m-expr: 'h>m';
$height-from-m-expr: 'height>m';
$height-from-m-query: 'screen and (min-height: 700px)';
$height-from-m-query-units: 'screen and (min-height: 43.75em)';
$height-from-m-params: (
  'strict-query': $shift-strict-queries,
  'media-type': $shift-media-type,
  'min-height': 700px,
  'min-height-label': 'm'
);

$h-to-s-expr: 'h<s';
$height-to-s-expr: 'height<s';
$height-to-s-query: 'screen and (max-height: 500px)';
$height-to-s-params: (
  'strict-query': $shift-strict-queries,
  'media-type': $shift-media-type,
  'max-height': 500px,
  'max-height-label': 's'
);

$width-from-s-height-to-m-expr: 'w>s h<m';
$width-from-s-height-to-m-expr-and: 'w>s and h<m';
$width-from-s-height-to-m-query: 'screen and (min-width: 26.25em) and (max-height: 700px)';
$width-from-s-height-to-m-query-units: 'screen and (min-width: 420px) and (max-height: 43.75em)';
$width-from-s-height-to-m-params: (
  'strict-query': $shift-strict-queries,
  'media-type': $shift-media-type,
  'min-width': 420px,
  'max-height': 700px,
  'min-width-label': 's',
  'max-height-label': 'm'
);

$both-from-s-to-m-expr: 'w>s w<m h>s h<m';
$both-from-s-to-m-query: 'screen and (min-width: 42.25em) and (max-width: 46.875em) and (min-height: 500px) and (max-height: 700px)';
$both-from-s-to-m-query-units: 'screen and (min-width: 420px) and (max-width: 750px) and (min-height: 31.25em) and (max-height: 43.75em)';
$both-from-s-to-m-params: (
  'strict-query': $shift-strict-queries,
  'media-type': $shift-media-type,
  'min-width': 420px,
  'max-width': 750px,
  'min-height': 500px,
  'max-height': 700px,
  'min-width-label': 's',
  'max-width-label': 'm',
  'min-height-label': 's',
  'max-height-label': 'm'
);

$foo-from-s-expr: '>s';
$foo-from-s-query: 'screen and (min-width: 540px)';
$foo-from-s-params: (
  'strict-query': $shift-strict-queries,
  'media-type': $shift-media-type,
  'min-width': 540px,
  'min-width-label': 's'
);

$foo-from-s-to-l-expr: '>s <l';
$foo-from-s-to-l-query: 'screen and (min-width: 540px) and (max-width: 1100px)';
$foo-from-s-to-l-query-units: 'screen and (min-width: 540px) and (max-width: 1100px)';
$foo-from-s-to-l-params: (
  'strict-query': $shift-strict-queries,
  'media-type': $shift-media-type,
  'min-width': 540px,
  'max-width': 1100px,
  'min-width-label': 's',
  'max-width-label': 'l'
);

$print-from-s-expr: 'print >s';
$print-from-s-expr-and: 'print and >s';
$print-from-s-query: 'print and (min-width: 26.25em)';
$print-from-s-query-units: 'print and (min-width: 420px)';
$print-from-s-params: (
  'strict-query': $shift-strict-queries,
  'media-type': 'print',
  'min-width': 420px,
  'min-width-label': 's'
);

$strict-from-s-expr: 'only >s';
$strict-from-s-query: 'screen and (min-width: 420px)';
$strict-from-s-query-em: 'screen and (min-width: 26.25em)';
$strict-from-s-params: (
  'strict-query': true,
  'media-type': $shift-media-type,
  'min-width': 420px,
  'min-width-label': 's'
);

$strict-from-s-width-to-l-expr: 'only >s w<l';
$strict-from-s-width-to-l-query: 'only screen and (min-width: 26.25em) and (max-width: 1100px)';
$strict-from-s-width-to-l-query-units: 'only screen and (min-width: 420px) and (max-width: 68.75em)';
$strict-from-s-width-to-l-params: (
  'strict-query': true,
  'media-type': $shift-media-type,
  'min-width': 420px,
  'max-width': 1100px,
  'min-width-label': 's',
  'max-width-label': 'l'
);
