// =============================================================================
// =SHIFT TESTS - BREAKPOINT
// =============================================================================

// @import "shift/breakpoint":

// /* min-width query by default */
// @include shift($from-s-expr) {
//   .larger-then-s-width { display: block; }
// }

// /* min- and max- query */
// @include shift($from-s-to-l-expr) {
//   .between-s-and-l-width { display: block; }
// }

// /* tweakpoint values */
// @include shift($foo-from-s-to-l-expr, 'foo') {
//   .foo-tweakpoint-between-s-and-l-width { display: block; }
// }

// /* max-width-query */
// @include shift($width-to-l-expr) {
//   .smaller-than-l-width { display: block; }
// }

// /* min-height query */
// @include shift($height-from-m-expr) {
//   .larger-then-m-height { display: block; }
// }