// =============================================================================
// =SHIFT - LABELS
// =============================================================================

@import "sassy-maps";
@import "aleksi/general/throw";

// shift-list-labels( $feature[, $tweakpoint ])
// -----------------------------------------------------------------------------
/// Returns the labels of all breakpoints registered for given @media feature.
///
/// @param {string} $feature - The media-query feature to retrieve
///
/// @return {list} - The list of labels registered for $feature
/// @throw Error if `$feature` is not a string
/// @throw Error if `$tweakpoint` is not a string
/// 
/// @TODO: return labels used to set `$tweakpoints` only

@function shift-list-labels($feature, $tweakpoint: null)
{
  // sanitize `$feature`
  @if not type-of($feature) == 'string' {
    $e: throw-error("`$feature` must be a string. Was #{inspect($feature)}.");
  }

  // sanitize `$tweakpoint`
  @if $tweakpoint != null and type-of($tweakpoint) != 'string' {
    $e: throw-error("`$tweakpoint` must be a string. Was #{inspect($tweakpoint)}.");
  }

  $breakpoints: map-get($__shift__, 'breakpoints');

  @if not map-has-key($breakpoints, $feature) {
    $w: throw-warning("No breakpoints registere for feature #{inspect($feature)}, returning empty list.");
    @return ();
  }

  // return list of labels registered under the given feature
  @return map-keys( map-get($breakpoints, $feature) );
}

// shift-labels( $feature[, $tweakpoint ])
// -----------------------------------------------------------------------------
/// @alias shift-list-labels

@function shift-labels( $feature, $tweakpoint: null )
{
  @return shift-list-labels($feature, $tweakpoint);
}

// shift-list-values( $feature[, $tweakpoint ])
// -----------------------------------------------------------------------------
/// Returns the values of all breakpoints registered for given @media feature.
///
/// @param {string} $feature - The media-query feature to retrieve
///
/// @return {list} - The list of values registered for $feature
/// @throw Error if `$feature` is not a string
/// @throw Error if `$tweakpoint` is not a string
/// 
/// @TODO: return values used to set `$tweakpoints` only

@function shift-list-values($feature, $tweakpoint: null)
{
  $labels: shift-list-labels($feature, $tweakpoint);
  $values: ();

  @each $label in $labels {
    $values: append($values, shift-get($feature, $label, $tweakpoint));
  }

  @return $values;
}

// shift-values( $feature[, $tweakpoint ])
// -----------------------------------------------------------------------------
/// @alias shift-list-values

@function shift-values( $feature, $tweakpoint: null )
{
  @return shift-list-values($feature, $tweakpoint);
}
