// =============================================================================
// =SHIFT-QUERY
// =============================================================================

@import "aleksi/maps/is-map";

@import "shift/config";
@import "shift/context";
@import "shift/length/convert";
@import "shift/params/parse";

// =shift-query( $params[, $tweakpoint, $units ])
// -----------------------------------------------------------------------------
/// Generates a media-query string based on the given parameters or expression.
///
/// @param {string|map} $params - A shift expression or a map of media-query parameters
/// @param {string} $tweakpoint - An optional tweakpoint to get values from
/// @param {map} $units - The units to use for media-query feature
///
/// @return {string} - The corresponding media-query string
///
/// @example scss
///   Example Code
///
/// @access public
/// @since 0.1.0

@function shift-query( $params, $tweakpoint: null, $units: () )
{
  // allow omitting $tweakpoint argument
  @if is-map($tweakpoint) {
    $units: $tweakpoint;
    $tweakpoint: null;
  }

  // sanitize $params argument
  @if type-of($params) != 'string' and is-map($params) == false {
    @return throw-error('shift-query(): `$params` must be a string or a map – was `#{inspect($params)}`');
  }

  // sanitize $tweakpoint argument
  @if $tweakpoint != null and type-of($tweakpoint) != 'string' {
    @return throw-error('shift-query(): `$tweakpoint` must be null or a string – was `#{inspect($tweakpoint)}`');
  }

  // sanitize $units argument
  @if not is-map($units) {
    @return throw-error('shift-query(): `$units` must be a map – was `#{inspect($units)}`');
  }

  // parse expression/parameter maps
  $params: shift-parse($params, $tweakpoint);

  // inject default units
  $units: map-merge((
    'width': $shift-width-unit,
    'height': $shift-height-unit
  ), $units);

  // inject defaults
  $params: map-merge((
    'strict': $shift-strict-queries,
    'media': $shift-media
  ), $params);

  // start with optional 'only' keyword
  $query: if(map-get($params, 'strict') == true, "only ", "");

  // add optional 'media'
  @if map-get($params, 'media') {
    $query: "#{$query}#{map-get($params, 'media')}";
  }

  // add media-query features
  @each $feature, $value in map-remove($params, 'strict', 'media')
  {
    // use correct width unit
    @if index('width' 'min-width' 'max-width', $feature) {
      $value: shift-convert-length($value, map-get($units, 'width'));
    }

    // use correct height unit
    @else if index('height' 'min-height' 'max-height', $feature) {
      $value: shift-convert-length($value, map-get($units, 'height'));
    }

    // ignore label parameters
    @if not str-index($feature, '-label') {
      $query: "#{$query} and (#{$feature}: #{$value})";
    }
  }

  @return $query;
}

// =shift-query( $params[, $tweakpoint, $units ])
// -----------------------------------------------------------------------------
/// Wraps content into a media-query based on given params and sets current
/// context. Content block will only output if the current stylesheet should
/// actually include it.
/// **Note**: If the `$shift-include-mq` global is set to `false`, content will
/// not be output, unless the `$shift-no-mq-fallback` global is set to true and
/// the given expression is in range with the `$shift-no-mq-min-width` global.
/// This makes it possible to generate a stylesheet targeted at legacy browsers
/// that dont support media-queries.
/// @link http://jakearchibald.github.io/sass-ie/
///
/// @param {string|map} $params - A shift expression or a map of media-query parameters
/// @param {string} $tweakpoint - An optional tweakpoint to get values from
/// @param {map} $units - The units to use for media-query feature
///
/// @content Css rules that should be applied for the given breakpoint query.
///
/// @example scss
///   Example Code
///
/// @access public
/// @since 0.1.0

@mixin shift-query( $params, $tweakpoint: null, $units: () )
{
  // get all params and replace labels with values
  $params: shift-parse($params, $tweakpoint);

  // save current context, so it can be restored later on
  @include shift-context-save();
  // store @media params into context
  @include shift-context($params);
  @include shift-context('tweakpoint', $tweakpoint);

  // include content if stylesheet should contain media-queries
  // (aimed at browsers)
  @if $shift-include-mq
  {

    @if length($params) > 0
    {
      // output media-query based on given parameters
      @media #{shift-query($params, $tweakpoint, $units)} {
        @content;
      }
    }

    @else
    {
      // default to root level
      @at-root (without: media)
      {
        & {
          @content;
        }
      }
    }
  }

  // include content *at-root* in media-query-free stylesheets
  // (aimed at browsers not supporting media-queries)
  @else if $shift-include-fallback
  {
    $min-width: map-get($params, 'min-width');
    $max-width: map-get($params, 'max-width');

    @if ($min-width == null or $min-width <= $shift-fallback-min-width) and
      ($max-width == null or $max-width >= $shift-fallback-min-width)
    {
      @content;
    }
  }

  // restore context as it was, outside of breakpoint @media block
  @include shift-context-restore();
}

// =shift( $params[, $tweakpoint, $units ])
// -----------------------------------------------------------------------------
/// @alias shift-query

@mixin shift( $params, $tweakpoint: null, $units: ())
{
  @include shift-query($params, $tweakpoint, $units) {
    @content;
  }
}
